<h3>Enter Your Values</h3>
<form action = "/calculation_result">
     <input name="num1" type="text" placeholder="First Number" ><br>
     <input name="num2" type="text" placeholder="Second Number"><br>
     <input type="submit" value="calculate">     

</form>
 